body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    display: flex;
    height: 100vh;
}




.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.profile {
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

nav ul li img {
    width: 24px;
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.stories {
    display: flex;
    margin-bottom: 20px;
}

.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #dd2a7b;
}

.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
